<!DOCTYPE html>
<html>
  <head>
    <title>Prediksjon av Sykehusopphold</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
      }
      .container {
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1, h2 {
        text-align: center;
        color: #333;
      }
      .form-grid {
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }
      .kategori {
        flex: 1;
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 8px;
      }
      label {
        font-weight: bold;
      }
      input, select {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      button:hover {
        background-color: #45a049;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Estimere Lengde på Sykehusopphold</h1>

      <!-- Denne blokken viser prediksjonen etter at skjemaet er sendt inn -->
      {% if prediction_text %}
        <h2>Prediksjon: {{ prediction_text }}</h2>
      {% endif %}
      {% if death_risk_message %}
        <h2>{{ death_risk_message }}</h2>
      {% endif %}
      
      <form action="{{url_for('predict')}}" method="post">
        <div class="form-grid">
          <!-- Sykdomsalvorlighet-kategorien -->
          <div class="kategori">
            <h2>Sykdomsalvorlighet</h2>

            <label for="sykdom_underkategori">Underkategori av Sykdom:</label>
            <select id="sykdom_underkategori" name="sykdom_underkategori" required>
              <option value="ARF/MOSF w/Sepsis">ARF/MOSF m/Sepsis</option>
              <option value="CHF">Hjertesvikt (CHF)</option>
              <option value="COPD">KOLS</option>
              <option value="Lung Cancer">Lungekreft</option>
              <option value="Colon Cancer">Tykktarmskreft</option>
              <option value="Cirrhosis">Levercirrhose</option>
              <option value="MOSF w/Malig">Flere Organsvikt (Malign)</option>
              <option value="Coma">Koma</option>
            </select>


            <label for="antall_komorbiditeter">Antall Komorbiditeter:</label>
            <input type="number" id="antall_komorbiditeter" name="antall_komorbiditeter" placeholder="Skriv inn antall komorbiditeter" required>

            <label for="koma_score">Koma Score:</label>
            <input type="number" id="koma_score" name="koma_score" placeholder="Skriv inn koma score" required>

            <label for="adl_stedfortreder">ADL Stedfortreder:</label>
            <input type="number" id="adl_stedfortreder" name="adl_stedfortreder" placeholder="Indeks for daglige funksjoner" required>

            <label for="fysiologisk_score">Fysiologisk Score:</label>
            <input type="number" id="fysiologisk_score" name="fysiologisk_score" placeholder="Skriv inn fysiologisk score" required>

            <label for="apache_fysiologisk_score">APACHE Fysiologisk Score:</label>
            <input type="number" id="apache_fysiologisk_score" name="apache_fysiologisk_score" placeholder="Skriv inn APACHE score" required>

            <label for="overlevelsesestimat_2mnd">Overlevelsesestimat 2 mnd:</label>
            <input type="number" id="overlevelsesestimat_2mnd" name="overlevelsesestimat_2mnd" placeholder="2-måneders overlevelsesestimat" required>

            <label for="overlevelsesestimat_6mnd">Overlevelsesestimat 6 mnd:</label>
            <input type="number" id="overlevelsesestimat_6mnd" name="overlevelsesestimat_6mnd" placeholder="6-måneders overlevelsesestimat" required>

            <label for="diabetes">Diabetes:</label>
            <select id="diabetes" name="diabetes" required>
              <option value="1">Ja</option>
              <option value="0">Nei</option>
            </select>

            <label for="demens">Demens:</label>
            <select id="demens" name="demens" required>
              <option value="1">Ja</option>
              <option value="0">Nei</option>
            </select>

            <label for="kreft">Kreft:</label>
            <select id="kreft" name="kreft" required>
              <option value="yes">Ja</option>
              <option value="metastatic">Metastatisk</option>
              <option value="no">Nei</option>
            </select>

            <label for="lege_overlevelsesestimat_2mnd">Lege Overlevelsesestimat 2 mnd:</label>
            <input type="number" id="lege_overlevelsesestimat_2mnd" name="lege_overlevelsesestimat_2mnd" placeholder="Legens 2-måneders estimat" required>

            <label for="lege_overlevelsesestimat_6mnd">Lege Overlevelsesestimat 6 mnd:</label>
            <input type="number" id="lege_overlevelsesestimat_6mnd" name="lege_overlevelsesestimat_6mnd" placeholder="Legens 6-måneders estimat" required>

            <label for="dnr_status">DNR Status:</label>
            <select id="dnr_status" name="dnr_status" required>
              <option value="dnr ved innleggelse">DNR ved Innleggelse</option>
              <option value="dnr før innleggelse">DNR før Innleggelse</option>
              <option value="ingen dnr">Ingen DNR</option>
              <option value="mangler">Mangler DNR</option>
            </select>
          </div>

          <!-- Fysiologiske data-kategorien -->
          <div class="kategori">
            <h2>Fysiologiske data</h2>
            <label for="blodtrykk">Blodtrykk:</label>
            <input type="number" id="blodtrykk" name="blodtrykk" placeholder="Skriv inn blodtrykk" required>

            <label for="hvite_blodlegemer">Hvite Blodlegemer:</label>
            <input type="number" id="hvite_blodlegemer" name="hvite_blodlegemer" placeholder="Skriv inn antall" required>

            <label for="hjertefrekvens">Hjertefrekvens:</label>
            <input type="number" id="hjertefrekvens" name="hjertefrekvens" placeholder="Skriv inn hjertefrekvens" required>

            <label for="respirasjonsfrekvens">Respirasjonsfrekvens:</label>
            <input type="number" id="respirasjonsfrekvens" name="respirasjonsfrekvens" placeholder="Skriv inn respirasjonsfrekvens" required>

            <label for="kroppstemperatur">Kroppstemperatur:</label>
            <input type="number" id="kroppstemperatur" name="kroppstemperatur" placeholder="Skriv inn temperatur" required>

            <label for="lungefunksjon">Lungefunksjon (PaO2/FiO2):</label>
            <input type="number" id="lungefunksjon" name="lungefunksjon" placeholder="Skriv inn lungefunksjon" required>

            <label for="serumalbumin">Serum Albumin:</label>
            <input type="number" id="serumalbumin" name="serumalbumin" placeholder="Skriv inn serum albumin" required>

            <label for="kreatinin">Kreatinin:</label>
            <input type="number" id="kreatinin" name="kreatinin" placeholder="Skriv inn kreatininnivå" required>

            <label for="natrium">Natrium:</label>
            <input type="number" id="natrium" name="natrium" placeholder="Skriv inn natriumnivå" required>

            <label for="blod_ph">Blod pH:</label>
            <input type="number" id="blod_ph" name="blod_ph" placeholder="Skriv inn blodets pH" required>

            <label for="glukose">Glukose:</label>
            <input type="number" id="glukose" name="glukose" placeholder="Skriv inn glukosenivå" required>

            <label for="blodurea_nitrogen">Blodurea Nitrogen:</label>
            <input type="number" id="blodurea_nitrogen" name="blodurea_nitrogen" placeholder="Skriv inn blodurea-nitrogen" required>

            <label for="urinmengde">Urinmengde:</label>
            <input type="number" id="urinmengde" name="urinmengde" placeholder="Skriv inn urinmengde" required>
          </div>

          <!-- Demografisk data-kategorien -->
          <div class="kategori">
            <h2>Demografisk data</h2>
            <label for="alder">Alder:</label>
            <input type="number" id="alder" name="alder" placeholder="Skriv inn alder" required>

            <label for="kjønn">Kjønn:</label>
            <select id="kjønn" name="kjønn" required>
              <option value="male">Mann</option>
              <option value="female">Kvinne</option>
            </select>

            <label for="utdanning">Utdanning (år):</label>
            <input type="number" id="utdanning" name="utdanning" placeholder="Skriv inn antall år utdanning" required>

            <label for="inntekt">Inntekt:</label>
            <input type="number" id="inntekt" name="inntekt" placeholder="Skriv inn inntekt" required>

            <label for="etnisitet">Etnisitet:</label>
            <select id="etnisitet" name="etnisitet" required>
              <option value="white">Hvit</option>
              <option value="black">Svart</option>
              <option value="hispanic">Latinsk</option>
              <option value="asian">Asiatisk</option>
              <option value="other">Annet</option>
            </select>
          </div>
        </div>

        <!-- Send-knapp -->
        <button type="submit">Estimer</button>
      </form>

      
    </div>
  </body>
</html>
